body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    max-width: 960px;
    margin: auto;
    color: rgb(254, 254, 254);
    background-color: rgb(69, 69, 69);
}

h1 {
    font-size: 3em;
    letter-spacing: .5em;
    padding-top: 1em;
    padding-bottom: 1em;
}

h2 {
    font-size: 1.5em;
    padding-bottom: 1em;
}

h3 {
    font-size: 1.2em;
    margin-left: 3px;
}

main { 
    display: grid;
    grid-template-columns: 40% 60%;
    margin-top: 3em;
    gap: 8px;

}

#PageGauche {
    background-color: rgb(50, 49, 49);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 0px;
}

#PageDroite {
    background-color: rgb(50, 49, 49);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 0px;
}

header {
    text-align: center;
    margin: auto 2em;
}

section {
    margin: auto 1em 4em 2em;
}

a {
    color: white;
}

i {
    margin-right: .1em;
}

p {
    margin-left: 20px;
}

hr {
    border: none;
    background-color: lightgray;
    height: 1px;
}

h1, h2{
    font-weight: 100;
    margin-bottom: 0;
}

#formation-contenu {
    margin-left: 20px;
}

ul li {
    margin-bottom: 8px;
}

ul {
    margin-top: auto;
}